body {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 900;
  line-height: 1.25;
}
h1,
h2 {
  text-align: center;
  background-color: lightblue;
  color: lightcoral;
  text-emphasis: weigh;
  height: 60px;
  width: 100%;
  padding-top: 30px;
  margin-bottom: 20px;
}
p,
h3 {
  text-align: center;
  line-height: 2.5;
}
body {
  /* background-image: url("assets/images/leopard-print.jpg"); */
}
